/* General Styles */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/assets/images/triangle-mosaic.png");
}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #777777;
}

p {
    line-height: 1.5rem;
    margin-top: 1.25rem;
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    margin-bottom: 3rem;
}

.container {
    text-align: center;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}


/* Heading Styles */

.heading {
    color: #4aaaa5;
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}

.align-left {
    text-align: left;
}


/* Navigation Styles */

.main-nav {
    float: right;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list > li {
    display: inline-block;
    background: none;
    margin: 0 0.5em;
}

li > a {
    display: block;
    padding: 20px 5px;
    margin: .5em .5em;
}

.name-container {
    background-color: #4aaaa5;
    float: left;
    color: #ffffff;
    padding: 20px 5px;
}

.name {
    margin: 0;
    color: #ffffff;
}


/* Main Content Styles */

.main-content {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 0 20px;
}

.main {
    min-height: calc(100vh - 150px);
}

.profile-img {
    float: left;
    width: 30%;
    margin-right: 10px;
}

/* Footer Styles */

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

.center {
    text-align: center;
}

.white {
    color: #fff;
}


/* Contact.html Styles */

.contact-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact-item{
    margin: 20px 0 20px 0;
}

.contact-item > label {
    display: block;
    margin-bottom: 5px;
}

.contact-item > input,
.contact-item > textarea {
    display: block;
    width: 100%;
    padding: 20px;
    font-size: .9rem;
    background-color: #e8eeef;
    border: none;
    outline: 0;
}

.contact-item > input {
    height: 50px;
}

.contact-item > textarea {
    height: 150px;
}

.submit-button {
    background-color: #4aaaa5;
    color: #fff;
    padding: 10px 25px;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: .9rem;
}

input:focus, 
textarea:focus, 
select:focus {
    border: 2px solid #4aaaa5;
    background-color: #fff;
}